*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:  "Helvetica", "sans-serif";

}

#logo{
    max-width: 5%;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    overflow: hidden;
    top: 0;
    padding: 5px 25px;
    align-items: center;
    word-spacing: 10px;

}
#logo{
    top: 0;
    left: 25px;;
}


a{
    text-decoration: none;
    color: black;
} 

#sidebar{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 145px;
    left: 0%;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;

}
#sidebar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color:black;
    display: block;

}
#sale{
    position: fixed;
    width: 100%;
    background-color: white;
    overflow: hidden;
    top: 65px;
    left: 0px;
    padding: 5px 25px;
    text-align: center;
    align-items: center;
       
}

#lifestyle{
    position: fixed;
    top: 100px;
    font-weight: bold;
    font-size: 10px;
    left: 0;
    padding: 5px;


}

#main{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    top: 145px;
    left: 200px;
    right: 0;
    width: 1100px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    
}

.Shoes{
    height: 300px;
    width: 300px;
    padding: 5px;
    
    
}
.Shoes:hover{
    cursor: pointer;
    background-color: whitesmoke;
}


#footer{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    left: 165px;
    bottom: 0;
    width: 1100px;
    padding: 10px 10px;
    background-color: black;
    color: white;
    text-align: center;
}

#list-one{
    padding-right: 20px;
    list-style-type: none;
}
#list-two{
    padding-right: 20px;
    list-style-type: none;
    align-items: left;

}
#list-three{
    padding-right: 20px;
    list-style-type: none;
}
#copywrite{
    padding-top: 200px;
    left: 20px;
}
